---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <style>
      h1 {
        text-align: center;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
    </style>
    <main>
      <h1>Welcome to Symplify!</h1>
      <hr />
    </main>

    <Footer />
  </body>
</html>
