---
import Layout from "../components/Layout.astro";
import { locale } from "../utils/locale";
---

<Layout title="Updated">
  <div
    style={{
      display: "flex",
      alignItems: "center",
      justifyContent: "center",
    }}
  >
    <label>
      {locale.update_password?.confirmation_text}
    </label>
  </div>
</Layout>
